@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 25px 0px;
}


header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-size: 20px;
}
header ul a {
    text-decoration: none;
    font-family: "Playwrite GB J", cursive;
}
header ul a:hover {
    color: orangered;
}


.titulo-principal {
    font-size: 45px;
}
.letraBlanca {
    color: white;
}